# Ignore all .env files
**/.env
**/.env.*

# Ignore DB files
**/*.db
**/*.sqlite
**/*.sqlite3

# Ignore logs
**/*.log

# Ignore runtime data
**/node_modules
**/__pycache__
**/.pytest_cache
**/.coverage
**/coverage
